@charset "UTF-8";

@font-face {
  font-family: DM_Sans;
  src:url(DMSansr.ttf);
}

:root {
  --color-primary:#141A25;
  --color-secondary:#1D2B3C;

  --color-neutral: rgb(56, 56, 56);

  --ff-primary: 'DM_Sans', sans-serif;

  --ff-color: #7E8597;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1, h2, h3, h4, h5, h6,
p {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
  border: none;
}

p {
  color: var(--ff-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-primary);
  color: #fff;
  font-weight: 550;
  font-size: 2.5rem;
  letter-spacing: 1px;
}
@media screen and (min-width: 500px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 499px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: 1.9rem;
  }
}

a, ul { 
  text-decoration: none;
  list-style: none;
  color: var(--ff-color);
}

.text-centered {
  text-align: center;
}

.margin-centered {
  margin: 0 auto !important;
}

button, .button, .quote_button {
  display: inline-block;
  padding: .8rem 3rem;
  margin: 1rem 0;
  justify-self: center;
  border-radius: 15px;
  background: rgb(70, 70, 250);
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}
.quote_button {
  background: var(--color-neutral);
  border-radius: 10px;
  padding: 1rem 6rem;
  margin-bottom: 10px;
}

.goto-button::after {
  content: "→";
}

.flex_container {
  display: flex;
  align-items: center;
}

.icon_background {
  margin: 0;
  margin-bottom: 1.5rem;
  width: 50px;
  height: 50px;
  background-image: url(../icon_backgroud.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.icon_centered {
  width: 30px;
  height: 30px;
  margin: calc(50% - 15px) 0 0 calc(50% - 15px);
  -webkit-filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
  filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-image: url(../camo.jpg);
}

.picture {
  width: 100%;
  height: auto;
  max-width: 500px;
  object-fit: cover;
  border-radius: 15px;
}

#fancy-dash {
  width: 65px;
  height: 3px;
  margin-left: 30px;
  background-color: red;
  border: none;
  display: inline-block;
  position: relative;
  top: -5px;
  border-radius: 50px;
}

body {
  background-color: #10151C;
  font-family: var(--ff-primary);
  font-weight: 420;
  font-size: 1.35rem;
  line-height: 1.5;
}

header {
  padding-top: 5vh;
}

section {
  margin: 0 auto;
}
@media screen and (min-width: 650px) {
  section {
    max-width: 1400px;
    padding: 4rem 6rem;
  }
}
@media screen and (max-width: 649px) {
  section {
    padding: 1rem 3rem;
  }
}
section > h1,
section > h2,
section > h3,
section > p {
  margin: 2rem 0;
}

#header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -80px;
}
#header_container > div > h1 {
  padding: 2rem 0;
  margin-top: 50px;
}
#header_container > div > div > div > p:last-of-type {
  font-size: .75rem;
  padding-top: 5px;
}
@media screen and (min-width: 1100px) {
  #header_container > div > h1 {
    margin-top: -50px;
    padding-top: 0;
  }
  #mobile_header_image { display: none; }
  #header_container > div > div {
    margin: 2rem 0;
    padding: 1.5rem;
    border-radius: 25px;
    font-size: 1rem;
    width: 650px;
    max-width: 40vw;
  }
}
@media screen and (max-width: 1099px) and (min-width: 420px) {
  #title_image {
    width: 100%;
    padding: 0 2rem;
  }
  #desktop_header_image { display: none; }
  #mobile_header_image { 
    width: 100%;
    margin-top: 15px;
    text-align: center;
  }
  #header_container > div {
    margin-bottom: 70px;
  }
  #header_container > div > div {
    margin: 1rem auto;
    padding: 2rem;
    border-radius: 25px;
    font-size: 1rem;
  }
}
@media screen and (max-width: 419px) {
  #title_image {
    width: 100%;
  }
  #desktop_header_image { display: none; }
  #mobile_header_image { 
    width: 100%;
    margin-top: 15px;
    text-align: center;
  }
  #header_container > div > div {
    margin: 1rem auto;
    margin-bottom: 0;
    padding: 1rem;
    border-radius: 25px;
    font-size: 1rem;
  }
}
#testimony-container {
  position: absolute;
  height: fit-content;
}
@media screen and (min-width: 650px) {
  #testimony-container {
    max-width: calc(100vw - 12rem);
  }
}
@media screen and (max-width: 650px) {
  #testimony-container {
    max-width: calc(100vw - 6rem);
  }
  #header_container {
    margin-bottom: 120px;
  }
}
@media screen and (max-width: 420px) {
  #header_container {
    margin-bottom: 200px;
  }
}

#testimony-container {
  animation: testimony-container ease-out 5.2s both;
  animation-iteration-count: infinite;
}
@keyframes testimony-container {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@media screen and (min-width: 1350px) {
  .cards > div{
    width: 450px;
  }
  .cards > div:not(:first-child) {
    margin-left: 25px;
  }
  .cards > div > div > ul {
    text-align: left;
  }
}
@media screen and (max-width: 1349px) {
  .cards {
    width: 100%;
    flex-direction: column !important;
  }
  .cards > div{
    width: 800px;
    max-width: 100%;
  }
  .cards > div > div > ul {
    text-align: left;
    padding-left: calc(50% - 100px);
  }
}
@media screen and (max-width: 420px) {
  .cards > div{
    width: 320px;
    max-width: 150%;
  }
}
.cards > div {
  padding: 2.4rem;
  margin-top: 20px;
  border-radius: 35px;
  font-size: 1.15rem;
  min-height: 250px;
}
.cards > div > h3,
.cards > div > div > h3 {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0.8rem 0;
}
.cards > div > div > hr {
  border-color: var(--color-neutral);
}
.cards > div > div > ul {
  list-style-type:none;
}
.cards > div > div > ul >li:before {
  content: '✓';
  margin-left: -20px;
  margin-right: 15px;
}
.cards > div > div > ul > li {
  padding: 5px;
}

.img_flexwrap_container {
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.img_flexwrap_container > a > img {
  width: 100px;
  height: 100px;
  margin: 0.5rem;
}

@media screen and (min-width: 900px) {
  .service_banner {
    padding: 2rem;
  }
  .service_banner > div {
    width: 45%;
  }
  .service_banner > div:nth-child(2) {
    padding: 1rem;
    margin-left: 7%;
  }
}
@media screen and (max-width: 899px) {
  .service_banner {
    padding: 1rem;
    flex-direction: column-reverse;
  }
  .service_banner > div:nth-child(2) {
    padding: 1rem;
  }
}
.service_banner {
  border-radius: 25px;
  align-self: center;
}
.service_banner > div > h2 {
  padding-bottom: 50px;
  letter-spacing: normal;
}
.service_banner > div > ul {
  list-style-type: disc;
}

@media screen and (min-width: 1100px) {
  .social_banner {
    flex-direction: row;
  }
  .social_banner > div {
    width: 50%;
    margin-left: 6%;
  }
}
@media screen and (max-width: 1099px) {
  .social_banner {
    flex-direction: column;
    padding-top: 50px;
  }
  .social_banner > div > a{
    margin: 0 2rem !important;
    text-align: center;
  }
  .social_banner > div:nth-child(2) > img {
    width: 100%;
  }
}
.social_banner {
  border-radius: 25px;
  align-self: center;
}
.social_banner > div:first-of-type > h2,
.social_banner > div:first-of-type > p {
  letter-spacing: normal;
  color: white;
  background-color: black;
  background-clip: padding-box;
  padding: .5rem;
}
.social_banner > div:first-of-type > img {
  background-color: black;
}
.social_banner > div:nth-child(1) > *:first-child {
  margin: 0 0 0 2rem;
}
.social_banner > div:nth-child(2) {
  padding: 0 1rem;
  padding-top: 50px;
  margin-bottom: -10px;
}
.social_banner > div:nth-child(1) > *:not(:first-child) {
  margin: 2rem;
}

#sales-caption {
  color: orangered;
  font-size: 1rem;
}
#blocked-text {
  color: var(--color-neutral);
}
#popular-service {
  border-style: solid;
  border-width: 2px;
  border-color: orange;
  position: relative;
}
#popular-tag {
  position: absolute;
  display: fixed;
  top: 20px;
  right: 20px;
  font-size: 12px;
  font-weight: 600px;
  color:white;
  text-transform: uppercase;
  background-color: red;
  border-radius: 25px;
  padding: 5px 25px;
}
#temp-hidden {
  display: none;
}

@media screen and (min-width: 1030px) {
  footer > div:first-of-type > div > p {
    padding: 0 45% 0 2rem;
  }
}
@media screen and (max-width: 1030px) and (min-width: 775px) {
  footer > div:first-of-type > div > p {
    padding: 0 10px;
  }
}
@media screen and (max-width: 774px) {
  footer > div {
    flex-direction: column;
    padding: 1rem 0;
  }
  footer > div > div:first-of-type > a > img:first-of-type {
    width: 100%;
    padding: 0 4rem;
  }
  footer > div > div:first-of-type {
    padding-bottom: 30px;
  }
} 
@media screen and (max-width: 420px) {
  footer > div > div:first-of-type > a > img:first-of-type {
    width: 100%;
    padding: 0 1rem;
  }
}
footer {
  font-size: .8rem;
}
.footer_bottom {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer_bottom > div > a {
  padding-left:10px;
}
#social_footer {
  width: 65% !important;
}


@media screen and (min-width: 600px) {
  form {
    padding: 2rem 8rem;
  }
}
@media screen and (max-width: 599px) and (min-width: 420px) {
  form {
    padding: 2rem 4rem;
  }
}
@media screen and (max-width: 419px) and (min-width: 380px) {
  form {
    padding: 2rem 3rem;
  }
}
@media screen and (max-width: 379px)  {
  form {
    padding: 2rem 1.1rem;
  }
}
form {
  width: fit-content;
  flex-direction: column;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: orange;
  border-radius: 25px;
  margin: 1rem auto;
}
form > input,
form > select,
form > textarea {
  padding: .5rem;
  width: 100%;
}
form > span,
form > select > option {
  padding: .5rem 0; 
  font-size: 1rem;
  align-self: flex-start !important;
}