@charset "UTF-8";

@font-face {
  font-family: DM_Sans;
  src:url(DMSansr.ttf);
}

:root {
  --color-primary:#141A25;
  --color-secondary:#1D2B3C;

  --color-neutral: #f5f5f5;

  --ff-primary: 'DM_Sans', sans-serif;

  --ff-color: #7E8597;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1, h2, h3, h4, h5, h6,
p {
  margin: 0;
  padding: 0;
}

p {
  color: var(--ff-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-primary);
  color: #fff;
  font-weight: 800;
}

a, ul { 
  text-decoration: none;
  list-style: none;
}

.button {
  display: inline-block;
  padding: 0.5rem 2rem;
  border-radius: 15px;
  background: blue;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.text-centered {
  text-align: center;
}

#fancy-dash {
  width: 65px;
  height: 3px;
  margin-left: 30px;
  background-color: red;
  border: none;
  display: inline-block;
  position: relative;
  top: -5px;
  border-radius: 50px;
}

body {
  background-color: #10151C;
  font-family: var(--ff-primary);
  font-weight: 420;
  font-size: 1.35rem;
  line-height: 1.5;
}

header {
}

section {
  margin: 0 auto;
  max-width: 1400px;
  padding: 4rem;
}

section > h1,
section > h2,
section > h3,
section > p {
  margin: 2rem 0;
}

footer {
  padding: 4rem;
}

.flex_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex_container > div {
  padding: 2.4rem;
  margin-top: 20px;
  border-radius: 35px;
  font-size: 1.15rem;
  width: 450px;
  min-height: 230px;
}

.flex_container > div:not(:first-child) {
  margin-left: 25px;
}

.flex_container > div > h3 {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0.8rem 0;
}

.icon_background {
  margin: 0 auto;
  margin-bottom: 1.5rem;
  width: 50px;
  height: 50px;
  background-image: url(../icon_backgroud.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.icon_centered {
  width: 30px;
  height: 30px;
  margin: calc(50% - 15px) 0 0 calc(50% - 15px);
  -webkit-filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
  filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
}

.img_flex_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.img_flex_container > a > img {
  width: 100px;
  height: 100px;
  margin: 0.5rem;
}
