@charset "UTF-8";

@font-face {
  font-family: DM_Sans;
  src:url(DMSansr.ttf);
}

:root {
  --color-primary:#141A25;
  --color-secondary:#1D2B3C;

  --color-neutral: rgb(56, 56, 56);

  --ff-primary: 'DM_Sans', sans-serif;

  --ff-color: #7E8597;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1, h2, h3, h4, h5, h6,
p {
  margin: 0;
  padding: 0;
}

p {
  color: var(--ff-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-primary);
  color: #fff;
  font-weight: 550;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

a, ul { 
  text-decoration: none;
  list-style: none;
  color: var(--ff-color);
}

.text-centered {
  text-align: center;
}

.margin-centered {
  margin: 0 auto !important;
}

.button, .quote_button {
  display: inline-block;
  padding: .8rem 3rem;
  margin: 1rem 0;
  justify-self: center;
  border-radius: 15px;
  background: rgb(70, 70, 250);
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}
.quote_button {
  background: var(--color-neutral);
  border-radius: 10px;
  padding: 1rem 6rem;
  margin-bottom: 10px;
}

.goto-button::after {
  content: "→";
}

.flex_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon_background {
  margin: 0;
  margin-bottom: 1.5rem;
  width: 50px;
  height: 50px;
  background-image: url(../icon_backgroud.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.icon_centered {
  width: 30px;
  height: 30px;
  margin: calc(50% - 15px) 0 0 calc(50% - 15px);
  -webkit-filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
  filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-image: url(../camo.jpg);
}

.picture {
  width: 100%;
  height: auto;
  max-width: 500px;
  object-fit: cover;
  border-radius: 15px;
}

#fancy-dash {
  width: 65px;
  height: 3px;
  margin-left: 30px;
  background-color: red;
  border: none;
  display: inline-block;
  position: relative;
  top: -5px;
  border-radius: 50px;
}

body {
  background-color: #10151C;
  font-family: var(--ff-primary);
  font-weight: 420;
  font-size: 1.35rem;
  line-height: 1.5;
}

header {
  padding-top: 5vh;
}

section {
  margin: 0 auto;
  max-width: 1400px;
  padding: 4rem 6rem;
}
section > h1,
section > h2,
section > h3,
section > p {
  margin: 2rem 0;
}

#header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -80px;
}
#header_container > div > h1 {
  padding: 2rem 0;
  margin-top: 50px;
}
#header_container > div > div {
  margin: 2rem 50px 2rem 0;
  padding: 2rem;
  border-radius: 25px;
  font-size: 1.2rem;
  max-width: 600px;
}
#header_container > div > div > div:first-of-type {
  padding-right: 25px;
}
#header_container > div > div > div > p:last-of-type {
  font-size: .8rem;
  padding-top: 5px;
}
 
.cards > div {
  padding: 2.4rem;
  margin-top: 20px;
  border-radius: 35px;
  font-size: 1.15rem;
  width: 450px;
  min-height: 250px;
}
.cards > div:not(:first-child) {
  margin-left: 25px;
}
.cards > div > h3,
.cards > div > div > h3 {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0.8rem 0;
}
.cards > div > div > hr {
  border-color: var(--color-neutral);
}
.cards > div > div > ul {
  list-style-type:none;
  text-align: left;
}
.cards > div > div > ul >li:before {
  content: '✓';
  margin-left: -20px;
  margin-right: 15px;
}
.cards > div > div > ul > li {
  padding: 5px;
}

.img_flexwrap_container {
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.img_flexwrap_container > a > img {
  width: 100px;
  height: 100px;
  margin: 0.5rem;
}

.service_banner {
  padding: 2rem;
  border-radius: 25px;
  align-self: center;
}
.service_banner > div > h2 {
  padding-bottom: 50px;
  letter-spacing: normal;
}
.service_banner > div {
  width: 45%;
}
.service_banner > div > ul {
  list-style-type: disc;
}
.service_banner > div:nth-child(2) {
  padding: 1rem;
  margin-left: 7%;
}

.social_banner {
  border-radius: 25px;
  align-self: center;
}
.social_banner > div:first-of-type > h2,
.social_banner > div:first-of-type > p {
  letter-spacing: normal;
  color: white;
  background-color: black;
  background-clip: padding-box;
  padding: .5rem;
}
.social_banner > div:first-of-type > img {
  background-color: black;
}
.social_banner > div {
  width: 50%;
  margin-left: 6%;
}
.social_banner > div:nth-child(1) > *:not(:first-child) {
  margin: 2rem;
}
.social_banner > div:nth-child(1) > *:first-child {
  margin: 0 0 0 2rem;
}
.social_banner > div:nth-child(2) {
  padding-top: 50px;
  margin-bottom: -10px;
}

#sales-caption {
  color: orangered;
  font-size: 1rem;
}
#price-tags {
  padding-top: 15px;
  color: white;
}
#blocked-text {
  color: var(--color-neutral);
}

footer {
  font-size: .8rem;
}
footer > div:first-of-type > div > p {
  padding: 0 45% 0 2rem;
}
.footer_bottom {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer_bottom > div > a {
  padding: 0 1rem;
}
